kafka.simple.repository.class=com.elo7.nightfall.di.providers.kafka.topics.CassandraKafkaTopicRepository
kafka.brokers=192.168.99.100:9092
kafka.topics=marketplace_events
kafka.offset.persistent=true
kafka.auto.offset.reset=smallest
kafka.cassandra.auto.migration=true
# Kafka Cassandra
kafka.cassandra.hosts=localhost
kafka.cassandra.keyspace=kafka
