# Spark
spark.app.name=NightfallExamples
spark.master=local[2]

# Kafka
spark.kafka.subscribe=events
spark.kafka.kafka.bootstrap.servers=localhost:9092

# Console Reporter
com.elo7.nightfall.di.providers.reporter.ConsoleReporter=true
